.community-page-wrapper {
  width: 100%;
  height: 90vh;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0.3rem;
  font-family: cinzel;
}

.community-wrapper-heading {
  font-size: 1.2rem;
  color: white;
  text-align: center;
}

.community-post-wrapper {
  width: 90%;
  height: 90%;
  border: 1px solid white;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.community-output-wrapper {
  flex: 1;
  min-height: 0;
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1rem;
}

.scroll-box {
  flex: 1;
  min-height: 0;
  width: 100%;

  overflow-y: auto;
  /* overflow-x: hidden; */
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.single-post-wrapper {
  width: 90%;
  height: auto;
  border: 1px solid rgb(119, 119, 119);
  font-family: lora;
  padding: 0.8rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.single-post-message {
  text-align: center;
}

.post-options-wrapper {
  width: 100%;
  height: 3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.output-post span {
  font-family: lora;
}

.community-form {
  width: 100%;
  height: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.community-form textarea {
  width: 80%;
  height: 80%;
  color: black;
  font-size: 1.3rem;
}

.community-form button {
  width: 20%;
  height: 80%;
  color: black;
  font-size: 1.5rem;
}

.community-form button:hover {
  cursor: pointer;
  background-color: rgb(0, 163, 163);
}

.reply-btn,
.like-message-btn,
.report-message-btn, .delete-message-btn {
  color: black;
  background-color: white;
  border: none;
  padding: 0.2rem;
  width: 4rem;
  margin: 0.2rem;
  font-size: 1.4rem;
}



@media (min-width: 600px) {
  .community-form {
    width: 100%;
    height: 10%;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .community-form textarea {
    width: 60%;
    height: 80%;
    color: black;
    font-size: 1.3rem;
  }

  .community-form button {
    width: 15%;
    height: 80%;
    color: black;
    font-size: 1.5rem;
  }
}

@media (min-width: 900px) {
  .community-form {
    width: 100%;
    height: 8%;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .community-form textarea {
    width: 60%;
    height: 80%;
    color: black;
    font-size: 1.3rem;
  }

  .community-form button {
    width: 10%;
    height: 80%;
    color: black;
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .community-form {
    width: 100%;
    height: 13%;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .community-form textarea {
    width: 50%;
    height: 80%;
    max-height: 100%;
    color: black;
    font-size: 1.3rem;
  }

  .community-form button {
    width: 10%;
    height: 80%;
    color: black;
    font-size: 1.5rem;
  }
}
