.community-page-wrapper {
  width: 100%;
  height: 90vh;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0.3rem;
  font-family: cinzel;
}

.community-wrapper-heading {
  font-size: 1.2rem;
  color: white;
  text-align: center;
}

.community-post-wrapper {
  width: 90%;
  height: 80%;
  border: 1px solid white;
  margin-top: 1rem;
}

.community-output-wrapper {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.single-post-wrapper {
  width: 80%;
  height: auto;
  border: 1px solid rgb(119, 119, 119);
  font-family: lora;
  padding: 0.2rem;
}

.output-post span {
  font-family: lora;
}

.community-form {
  width: 100%;
  height: 20%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.community-form textarea {
  width: 80%;
  height: 80%;
  color: black;
  font-size: 1.5rem;
}

.community-form button {
  width: 20%;
  height: 80%;
  color: black;
  font-size: 1.5rem;
}
