.community-page-wrapper {
  width: 100%;
  height: 90vh;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0.3rem;
  font-family: "Cormorant Garamond";
}

.community-wrapper-heading {
  font-size: 1.4rem;
  color: white;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

.community-post-wrapper {
  width: 90%;
  height: 90%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
}

.community-output-wrapper {
  flex: 1;
  min-height: 0;
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1rem;
}

.scroll-box {
  flex: 1;
  min-height: 0;
  width: 100%;

  overflow-y: auto;
  /* overflow-x: hidden; */
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.single-post-wrapper {
  width: 90%;
  height: auto;
  text-align: center;
  padding: 0.8rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid rgb(119, 119, 119);
  box-shadow: 0 12px 40px rgba(80, 74, 74, 0.25);
}

.single-post-message {
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.post-options-wrapper {
  width: 100%;
  height: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.single-post-username {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

.community-form {
  width: 100%;
  height: 7%;
  position: absolute;
  bottom: 0;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.community-form textarea {
  width: 80%;
  height: 100%;
  color: black;
  font-size: 1.2rem;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  padding-left: 0.5rem;
  border: none;
}

.community-form button {
  width: 20%;
  height: 100%;
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  background-color: white;
  border: none;
  border-left: 1px solid black;
}

.community-form button:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.reply-btn,
.like-message-btn,
.report-message-btn,
.delete-message-btn {
  color: black;
  background-color: white;
  border: none;
  padding: 0.2rem;
  width: 5rem;
  margin: 0.2rem;
  font-size: 1rem;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  cursor: pointer;
}

@media (min-width: 600px) {
  .community-form {
    width: 100%;
    height: 7%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .single-post-wrapper {
    width: 70%;
    height: auto;
  }

  .community-form textarea {
    width: 60%;
    height: 100%;
    color: black;
    font-size: 1.5rem;
  }

  .community-form button {
    width: 15%;
    height: 100%;
    color: black;
    font-size: 1.5rem;
  }
}

@media (min-width: 900px) {
  .single-post-wrapper {
    width: 65%;
  }

  .community-form {
    width: 100%;
    height: 7%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .community-form textarea {
    width: 60%;
    height: 100%;
    color: black;
    font-size: 1.3rem;
  }

  .community-form button {
    width: 10%;
    height: 100%;
    color: black;
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .single-post-wrapper {
    width: 50%;
  }
  .community-form {
    width: 100%;
    height: 7%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .community-form textarea {
    width: 40%;
    height: 100%;
    max-height: 100%;
    color: black;
    font-size: 1.3rem;
  }

  .community-form button {
    width: 10%;
    height: 100%;
    color: black;
    font-size: 1.5rem;
  }
}
