* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contact-page-wrapper {
  width: 100%;
  height: 95vh;
  background-color: black;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.contact-form {
  width: 90%;
  height: 60%;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.contact-form h2 {
  font-size: 3rem;
  text-align: center;
  font-family: Cinzel;
}

.contact-form label {
  font-size: 1.5rem;
  font-family: Lora;
}

.contact-form input {
  width: 70%;
  height: 2rem;
  color: black;
  font-size: 1.4rem;
  padding-left: 0.5rem;
}

.contact-form button {
  width: 10rem;
  height: 2rem;
  background-color: rgb(0, 163, 163);
  color: black;
  transition: background-color 0.1s ease;
  border: none;
  font-size: 1.4rem;
  font-family: Lora;
}

.contact-page-wrapper h3 {
  font-size: 3rem;
  font-family: Cinzel;
}

@media (min-width: 600px) {
  .contact-page-wrapper {
    width: 100%;
    height: 95vh;
    background-color: black;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .contact-form {
    width: 80%;
    height: 60%;
  }

  .contact-form h2 {
    font-size: 3rem;
  }

  .contact-form label {
    font-size: 1.5rem;
  }

  .contact-form input {
    width: 70%;
    height: 2rem;
    color: black;
    font-size: 1.4rem;
  }

  .contact-form button {
    width: 10rem;
    height: 2rem;
    background-color: rgb(0, 163, 163);

    transition: background-color 0.1s ease;
    border: none;
    font-size: 1.4rem;
  }

  .contact-page-wrapper h3 {
    font-size: 3rem;
  }
}

@media (min-width: 900px) {
  .contact-page-wrapper {
    width: 100%;
    height: 95vh;
    background-color: black;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .contact-form {
    width: 70%;
    height: 60%;
  }

  .contact-form h2 {
    font-size: 3rem;
  }

  .contact-form label {
    font-size: 1.5rem;
  }

  .contact-form input {
    width: 70%;
    height: 2rem;
    color: black;
    font-size: 1.4rem;
  }

  .contact-form button {
    width: 10rem;
    height: 2rem;
    background-color: rgb(0, 163, 163);

    transition: background-color 0.1s ease;
    border: none;
    font-size: 1.4rem;
  }

  .contact-page-wrapper h3 {
    font-size: 3.5rem;
  }
}

@media (min-width: 1200px) {
  .contact-page-wrapper {
    width: 100%;
    height: 95vh;
    background-color: black;
    padding-top: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .contact-form {
    width: 40%;
    height: 75%;
  }

  .contact-form h2 {
    font-size: 3rem;
  }

  .contact-form label {
    font-size: 1.5rem;
  }

  .contact-form input {
    width: 70%;
    height: 2.4rem;
    color: black;
    font-size: 1.4rem;
  }

  .contact-form button {
    width: 10rem;
    height: 3rem;
    background-color: rgb(0, 163, 163);

    transition: background-color 0.1s ease;
    border: none;
    font-size: 1.4rem;
    color: black;
  }

  .contact-form button:hover {
    background-color: rgb(156, 253, 248);
    cursor: pointer;
  }

  .contact-page-wrapper h3 {
    font-size: 4rem;
  }
}
