footer {
  width: 100vw;
  height: 4rem;
  background-color: rgb(211, 218, 218);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 200;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer p {
  font-family: Cinzel;
  color: black;
}
