footer {
  width: 100vw;
  height: 2rem;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer p {
  font-family: lora;
  color: rgb(255, 255, 255);
}
