* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

html, body {
  background-color: black;
}

.gamepage-wrapper {
  width: 100%;
  height: auto;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 5vh;
  gap: 2rem;
  padding-top: 5vh;
  padding-bottom: 10vh;
}

.game-wrapper {
  width: 80%;
  height: 20rem;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.game-wrapper h2 {
  font-size: 2.5rem;
  font-family: Cinzel;
}

.game-wrapper button {
  width: 12rem;
  height: 2.5rem;
  background-color: rgb(0, 163, 163);
  color: black;
  font-size: 1.4rem;
  border: none;
  font-family: Lora;
  transition: background-color 0.1s ease;
}

.game-wrapper button:hover {
  background-color: rgb(156, 253, 248);
  cursor: pointer;
}

@media (min-width: 600px) {
  .gamepage-wrapper {
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 5vh;
    gap: 2rem;
    padding-top: 5vh;
    padding-bottom: 10vh;
  }

  .game-wrapper {
    width: 75%;
    height: 25rem;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .game-wrapper h2 {
    font-size: 2.5rem;
  }

  .game-wrapper button {
    width: 12rem;
    height: 2.5rem;
    background-color: rgb(0, 163, 163);

    transition: background-color 0.1s ease;
    font-size: 1.4rem;
    border: none;
  }
  .game-wrapper button:hover {
    background-color: rgb(156, 253, 248);
    cursor: pointer;
  }
}

@media (min-width: 900px) {
  .gamepage-wrapper {
    width: 100%;
    height: 90vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 5vh;
    gap: 2rem;
    padding-top: 5vh;
    padding-bottom: 10vh;
  }

  .game-wrapper {
    width: 80%;
    height: 30rem;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .game-wrapper h2 {
    font-size: 2.5rem;
  }

  .game-wrapper button {
    width: 12rem;
    height: 2.5rem;
    background-color: rgb(0, 163, 163);

    transition: background-color 0.1s ease;
    font-size: 1.4rem;
    border: none;
  }
  .game-wrapper button:hover {
    background-color: rgb(156, 253, 248);
    cursor: pointer;
  }
}

@media (min-width: 1200px) {
  .gamepage-wrapper {
    width: 100%;
    height: 90vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 5vh;
    gap: 2rem;
    padding-top: 5vh;
    padding-bottom: 10vh;
  }

  .game-wrapper {
    width: 60%;
    height: 30rem;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .game-wrapper h2 {
    font-size: 2.5rem;
  }

  .game-wrapper button {
    width: 12rem;
    height: 2.5rem;
    background-color: rgb(0, 163, 163);

    transition: background-color 0.1s ease;
    font-size: 1.4rem;
    border: none;
  }

  .game-wrapper button:hover {
    background-color: rgb(156, 253, 248);
    cursor: pointer;
  }
}
