* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

html {
  scroll-behavior: smooth;
}


.homepage-wrapper {
  width: 100%;
  height: auto;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.hero-section {
  height: 50rem;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.hero-video-wrapper {
  width: 90%;
  height: 40%;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
}

.hero-video-info {
  height: 40%;
  width: 90%;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: Lora;
  text-align: center;
}

.hero-video-info h2 {
  font-size: 3rem;
  font-family: Cinzel;
}

.hero-video-info span {
  font-size: 1.6rem;
  text-align: center;
}

.hero-video-info button {
  width: 12rem;
  height: 2.5rem;
  background-color: rgb(0, 163, 163);
  border: none;
  font-size: 1.4rem;
  color: black;
}

.img-carousel-wrapper {
  height: 60rem;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.carousel-imgs {
  width: 90%;
  height: 32%;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
}

.call-to-action-wrapper {
  width: 100%;
  height: 60rem;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: Lora;
}

.newsletter-wrapper {
  height: 25rem;
  width: 90%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgb(255, 255, 255);
}

.support-wrapper {
  height: 25rem;
  width: 90%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgb(255, 255, 255);
  padding: 1rem;
}

.call-to-action-wrapper h3 {
  font-size: 3rem;
  text-align: center;
  font-family: Cinzel;
}

.call-to-action-wrapper h4 {
  font-size: 2rem;
  font-weight: 400;
  font-family: Lora;
}

.call-to-action-wrapper input {
  width: 80%;
  height: 2.5rem;
  color: black;
  font-size: 1.3rem;
  padding-left: 0.5rem;
}

.call-to-action-wrapper button {
  width: 10rem;
  height: 2.5rem;
  color: black;
  background-color: rgb(0, 163, 163);
  border: none;
  font-size: 1.4rem;
  font-family: Lora;
}

@media (min-width: 600px) {
  .homepage-wrapper {
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10vh;
    padding-bottom: 5vh;
  }

  .hero-section {
    height: 50rem;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .hero-video-wrapper {
    width: 80%;
    height: 50%;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
  }

  .hero-video-info {
    height: 40%;
    width: 80%;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .hero-video-info h2 {
    font-size: 3rem;
  }

  .hero-video-info span {
    font-size: 1.6rem;
    text-align: center;
  }

  .hero-video-info button {
    width: 12rem;
    height: 2.5rem;
    background-color: rgb(0, 163, 163);
    border: none;
    font-size: 1.4rem;
    color: black;
  }

  .img-carousel-wrapper {
    height: 80rem;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .carousel-imgs {
    width: 80%;
    height: 32%;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
  }

  .call-to-action-wrapper {
    width: 100%;
    height: 60rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .newsletter-wrapper {
    height: 25rem;
    width: 80%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgb(255, 255, 255);
  }

  .support-wrapper {
    height: 25rem;
    width: 80%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgb(255, 255, 255);
    padding: 1rem;
  }

  .call-to-action-wrapper h3 {
    font-size: 3rem;
    text-align: center;
  }

  .call-to-action-wrapper h4 {
    font-size: 2rem;
  }

  .call-to-action-wrapper input {
    width: 80%;
    height: 2.5rem;
  }

  .call-to-action-wrapper button {
    width: 10rem;
    height: 2.5rem;
    background-color: rgb(0, 163, 163);
    border: none;
    font-size: 1.4rem;
    color: black;
  }
}

@media (min-width: 900px) {
  .homepage-wrapper {
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10vh;
    padding-bottom: 5vh;
  }

  .hero-section {
    height: 30rem;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .hero-video-wrapper {
    width: 45%;
    height: 65%;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
  }

  .hero-video-info {
    height: 65%;
    width: 45%;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .hero-video-info h2 {
    font-size: 3rem;
  }

  .hero-video-info span {
    font-size: 1.6rem;
    text-align: center;
  }

  .hero-video-info button {
    width: 12rem;
    height: 2.5rem;
    background-color: rgb(0, 163, 163);
    border: none;
    font-size: 1.4rem;
    transition: background-color 0.1s ease;
    color: black;
  }

  .hero-video-info button:hover {
    background-color: rgb(156, 253, 248);
    cursor: pointer;
  }

  .img-carousel-wrapper {
    height: 20rem;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .carousel-imgs {
    width: 30%;
    height: 80%;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
  }

  .call-to-action-wrapper {
    width: 100%;
    height: 30rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .newsletter-wrapper {
    height: 25rem;
    width: 45%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgb(255, 255, 255);
  }

  .support-wrapper {
    height: 25rem;
    width: 45%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgb(255, 255, 255);
    padding: 1rem;
  }

  .call-to-action-wrapper h3 {
    font-size: 3rem;
    text-align: center;
  }

  .call-to-action-wrapper h4 {
    font-size: 2rem;
  }

  .call-to-action-wrapper input {
    width: 80%;
    height: 2.5rem;
  }

  .call-to-action-wrapper button {
    width: 10rem;
    height: 2.5rem;
    background-color: rgb(0, 163, 163);
    border: none;
    font-size: 1.4rem;
    transition: background-color 0.1s ease;
    color: black;
  }

  .call-to-action-wrapper button:hover {
    background-color: rgb(156, 253, 248);
  }
}

@media (min-width: 1200px) {
  .homepage-wrapper {
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10vh;
    padding-bottom: 5vh;
  }

  .hero-section {
    height: 30rem;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .hero-video-wrapper {
    width: 40%;
    height: 85%;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
  }

  .hero-video-info {
    height: 85%;
    width: 40%;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .hero-video-info h2 {
    font-size: 3rem;
  }

  .hero-video-info span {
    font-size: 1.6rem;
    text-align: center;
  }

  .hero-video-info button {
    width: 12rem;
    height: 2.5rem;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(0, 163, 163);
    border: none;
    font-size: 1.4rem;
    color: black;
    transition: background-color 0.1s ease;
  }

  .hero-video-info button:hover {
    cursor: pointer;
    background-color: rgb(156, 253, 248);
    animation-delay: 2;
  }

  .img-carousel-wrapper {
    height: 30rem;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .carousel-imgs {
    width: 30%;
    height: 80%;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
  }

  .call-to-action-wrapper {
    width: 100%;
    height: 30rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .newsletter-wrapper {
    height: 25rem;
    width: 35%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgb(255, 255, 255);
  }

  .support-wrapper {
    height: 25rem;
    width: 35%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgb(255, 255, 255);
    padding: 1rem;
  }

  .call-to-action-wrapper h3 {
    font-size: 3rem;
    text-align: center;
  }

  .call-to-action-wrapper h4 {
    font-size: 2rem;
  }

  .call-to-action-wrapper input {
    width: 80%;
    height: 2.5rem;
  }

  .call-to-action-wrapper button {
    width: 10rem;
    height: 2.5rem;
    background-color: rgb(0, 163, 163);
    border: none;
    color: black;
    font-size: 1.4rem;
    transition: background-color 0.1s ease;
  }

  .call-to-action-wrapper button:hover {
    cursor: pointer;
    background-color: rgb(156, 253, 248);
  }
}
