.logout-btn {
  color: rgb(255, 255, 255);
     font-family: "Manrope", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
}

.logout-btn:hover {
  cursor: pointer;
}

@media (min-width: 600px) {
  .logout-btn {
    font-size: 1.3rem;
  }
}