.my-comments-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.my-comments-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 90%;
  gap: 1rem;
  padding-top: 0.5rem;
}

.single-comment {
  background-color: black;
  height: auto;
  width: 90%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.4rem;
 border: 1px solid rgb(119, 119, 119);
   box-shadow: 0 12px 40px rgba(80, 74, 74, 0.25);
  padding: 0.5rem;
}

.single-comment span {
    margin-bottom: 0.5rem;
}

.delete-comment-btn {
  color: black;
  background-color: white;
  border: none;
  padding: 0.2rem;
  width: 5rem;
  margin: 0.2rem;
  font-size: 1.2rem;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  cursor: pointer;
}

@media (min-width: 600px) {
 .single-comment {
   width: 70%;
   height: auto;
 }
}

@media (min-width: 900px) {
 .single-comment {
   width: 65%;
   height: auto;
 }
}

@media (min-width: 1200px) {
 .single-comment {
   width: 50%;
   height: auto;
 }
}