.my-posts-page {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.my-posts-list {
  width: 90%;
  height: 90vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0.5rem;
  gap: 0.5rem;
}

.single-post {
  background-color: black;
  height: 10rem;
  width: 90%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.4rem;
    border: 1px solid white;
}
