/* Global reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* --- BASE NAVBAR --- */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 1000;
  padding-left: 2rem;
  padding-top: 6rem;
}

nav a {
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-weight: 300;
}

/* Title */
.long-h1 {
  display: none;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}
.short-h1 {
  font-size: 2.5rem;

  color: rgb(255, 255, 255);
  margin-bottom: 2rem;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

/* Nav links */
nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  /* position: relative; */
  transition: color 0.2s ease;

  /* letter-spacing: 0.1rem; */
}

.nav-login-btn {
  color: rgb(255, 255, 255);
   font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

/* --- RESPONSIVE STYLES --- */
@media (min-width: 600px) {
  nav {
    height: 3.5rem;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0.8rem;
  }

  .long-h1 {
    display: block;
    font-size: 1.3rem;

    color: rgb(255, 255, 255);
    margin-right: 0.7rem;
    text-decoration: none;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-align: center;
    margin-top: 2rem;
  }
  .short-h1 {
    display: none;
  }
  nav ul {
    gap: 0.7rem;
    display: flex;
    flex-direction: row;
  }

  nav ul li a {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
  }
}

@media (min-width: 900px) {
  nav {
    height: 3.5rem;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
  }

  .long-h1 {
    display: block;
    font-size: 1.3rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin-right: 2rem;
    text-decoration: none;
    font-family: "Manrope", sans-serif;

    letter-spacing: 0.1rem;
    text-align: center;
    margin-top: 2rem;
  }
  .short-h1 {
    display: none;
  }
  nav ul {
    gap: 2rem;
    display: flex;
    flex-direction: row;
  }

  nav ul li a {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
  }
}

@media (min-width: 1200px) {
  /* .long-h1 {
    display: block;
    font-size: 2.4rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin-right: 0.5rem;
    text-decoration: none;
    font-family: Cinzel;
    letter-spacing: 0.1rem;
  }
  .short-h1 {
    display: none;
  }

  nav ul li a {
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
  }

  nav ul {
    gap: 3rem;
  } */
}
