.notifications-page {
    width: 100vw;
    height: 90vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.notifications-page p {
    font-size: 1.6rem;
    position: absolute;
    top: 25rem;
}