.profile-page-wrapper {
  width: 100vw;
  height: 100vh;
  font-family: lora;
  background-color: rgb(0, 0, 0);
}

.profile-nav {
  width: 100%;
  height: 5vh;
  background-color: rgb(255, 255, 255);
  margin-top: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.profile-nav ul {
  display: flex;
  flex-direction: row;
 gap: 1rem;
 list-style: none;
}

.profile-nav ul li {
    font-size: 1.4rem;
    color: black;
}
