.profile-nav {
  width: 100%;
  height: 5vh;
  background-color: rgb(255, 255, 255);
  margin-top: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-nav ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
}

.profile-nav ul li {
  font-size: 1rem;
  color: black;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

@media (min-width: 600px) {
  .profile-nav {
    width: 100%;
    height: 5vh;
    background-color: rgb(255, 255, 255);
    margin-top: 8vh;
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile-nav ul {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    list-style: none;
  }

  .profile-nav ul li {
    font-size: 1.2rem;
    color: black;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
  }
}

@media (min-width: 900px) {
  .profile-nav {
    width: 100%;
    height: 5vh;
    background-color: rgb(255, 255, 255);
    margin-top: 8vh;
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile-nav ul {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    list-style: none;
  }

  .profile-nav ul li {
    font-size: 1.3rem;
    color: black;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
   
  }

  
}
