.register-page {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-form {
  width: 55%;
  height: 70%;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.register-form h2 {
  color: white;
  font-size: 2.7rem;
}

.register-form label {
  color: white;
  font-size: 1.4rem;
}

.register-form input {
  height: 2rem;
  width: 65%;
  font-size: 1.2rem;
  padding-left: 0.5rem;
  border: none;
  color: black;
}

.register-btn {
    width: 8rem;
    height: 1.7rem;
    font-size: 1.2rem;
    background-color: white;
    border: none;
    color: black;
}

.register-btn:hover {
    cursor: pointer;
}

.register-form-login-link {
    font-size: 1.1rem;
    color: white;
    text-decoration: underline;
}
