.support-page-wrapper {
  width: 100%;
  height: 95vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 10vh;
}

.support-form {
  width: 80%;
  height: 50%;
  border: 1px solid white;
}

.support-page-wrapper h2 {
  font-size: 2rem;
  font-family: Cinzel;
}

.support-page-wrapper span {
  font-size: 1.3rem;
  font-family: Lora;
}

@media (min-width: 600px) {
.support-page-wrapper {
  width: 100%;
  height: 95vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 10vh;
}

.support-form {
  width: 80%;
  height: 60%;
  border: 1px solid white;
}

.support-info-wrapper {
  height: 20%;
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.support-page-wrapper h2 {
  font-size: 2.3rem;
}

.support-page-wrapper span {
  font-size: 1.3rem;
}

}

@media (min-width: 900px) {
.support-page-wrapper {
  width: 100%;
  height: 95vh;
  background-color: black;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  padding-top: 10vh;
}

.support-form {
  width: 50%;
  height: 80%;
  border: 1px solid white;
}

.support-info-wrapper {
  height: 30%;
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.support-page-wrapper h2 {
  font-size: 2.8rem;
}

.support-page-wrapper span {
  font-size: 1.3rem;
}

}

@media (min-width: 900px) {
.support-page-wrapper {
  width: 100%;
  height: 95vh;
  background-color: black;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  padding-top: 10vh;
}

.support-form {
  width: 40%;
  height: 80%;
  border: 1px solid white;
}

.support-info-wrapper {
  height: 30%;
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.support-page-wrapper h2 {
  font-size: 3rem;
}

.support-page-wrapper span {
  font-size: 1.5rem;
}

}
