.navbar-icon {
    width: 15rem;
    height: 15rem;
   
    z-index: 5000;
    position: fixed;
}

.nav-icon {
    position: fixed;
    z-index: 2000;
    top: 0;
  background-color: black;
}


@media (min-width: 600px) {
    .nav-icon, .navbar-icon {
        display: none;
    }
}