.navbar-icon {
    width: 15rem;
    height: 15rem;
    background-color: red;
    z-index: 5000;
}

.nav-icon {
    position: absolute;
    z-index: 2000;
    top: 0;
    left: rem; 
}


@media (min-width: 600px) {
    .nav-icon, .navbar-icon {
        display: none;
    }
}