* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contact-page-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact-form {
    height: 40rem;
    width: 40rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid white;
}

h2 { 
    font-size: 2.3rem;
}

label {
    font-size: 1.8rem;
}

#email {
    width: 50%;
    height: 2rem;
}

#send-message-btn {
     width: 11rem;
    height: 3rem;
    font-size: 1.3rem;
    background-color: rgb(99, 0, 0);
    border: none;
}

h3 {
    font-size: 7rem;
}

@media (max-width: 600px) {
    .contact-page-wrapper {
        display: flex;
        flex-direction: column;
        height: 95vh;
        position: absolute;
        top: 5vh;
    }

    h2 {
        font-size: 0.5rem;
        text-align: center;
    }

    .contact-form {
        width: 90%;
        display: flex;

    }
}