.contact-page-wrapper {
    width: 100vw;
    height: 90vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact-form {
    height: 40rem;
    width: 40rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid white;
}

h2 { 
    font-size: 2.3rem;
}

label {
    font-size: 1.4rem;
}

#email {
    width: 50%;
    height: 2rem;
}

#send-message-btn {
    width: 11rem;
    height: 3rem;
    background-color: red;
    font-size: 1.4rem;
}

h3 {
    font-size: 5rem;
}