* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid red;
    color: white;
}


.gamepage-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.game-wrapper {
    width: 25%;
    height: 40rem;
    background-color: rgb(24, 23, 23);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.game-wrapper h2 {
    font-size: 3rem;
}

.img-preview {
    width: 100%;
    height: 70%;
}

.steam-link-btn {
    width: 11rem;
    height: 3rem;
    font-size: 1.2rem;
    background-color: red;
}