* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid red;
    color: white;
}

.homepage-wrapper {
    width: 100vw;
    height: auto;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.hero-section {
    width: 100vw;
    height: 40rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero-video-wrapper {
    width: 40%;
    height: 30rem;
    background-color: rgb(54, 54, 54);
}

.hero-video-info {
    width: 30%;
    height: 30rem;
    background-color: rgb(32, 35, 37);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.hero-video-info h2 {
    font-size: 3rem;
}

.hero-video-info button {
    width: 11rem;
    height: 3.3rem;
    background-color: red;
    font-size: 1.2rem;
}

.hero-video-info span {
    font-size: 2rem;
}

.img-carousel-wrapper {
    height: 30rem;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.carousel-imgs {
    width: 30%;
    height: 90%;
    background-color: rgb(82, 75, 75);
}

.call-to-action-wrapper {
    width: 100vw;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.call-to-action-wrapper h3 {
    font-size: 2rem;
}

.call-to-action-wrapper button {
    width: 10rem;
    height: 3rem;
    background-color: red;
    font-size: 1.2rem;
}
.newsletter-wrapper {
    width: 40%;
    height: 80%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.support-wrapper {
    width: 40%;
    height: 80%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}