nav {
    background-color: black;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
}
h1 {
    font-size: 3rem;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
     margin-left: 2rem;
     font-size: 2rem;
}