/* Global reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

/* --- BASE NAVBAR --- */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: rgb(0, 31, 26);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  z-index: 1000;
}

nav a {
  text-decoration: none;
}

/* Title */
nav h1 {
  font-size: 1.7rem;
  color: white;
  margin: 0;
  text-decoration: none;
}

/* Nav links */
nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  position: relative;
  transition: color 0.2s ease;
}



/* --- RESPONSIVE STYLES --- */
@media (max-width: 600px) {
  nav {
    height: 3.5rem;
    padding: 0 1rem;
  }

  nav h1 {
    font-size: 1rem;
    text-decoration: none;
  }

  nav ul {
    gap: 1rem;
  }

  nav ul li a {
    font-size: 1.2rem;
  }

  
}

@media (min-width: 1200px) {
  nav h1 {
    font-size: 2.8rem;
  }

  nav ul li a {
    font-size: 2.2rem;
  }

  nav ul {
    gap: 3rem;
  }
}
