nav {
   background-color: rgb(0, 31, 26);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  text-decoration: none;
}
h1 {
  font-size: 3rem;
}
a {
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 2rem;
  font-size: 2rem;
  text-decoration: none;
}

nav ul li:hover {
  text-decoration: underline;  
}

