.support-page-wrapper {
  width: 100vw;
  height: 90vh;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

form {
  height: 40rem;
  width: 40rem;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid white;
}

.about-wrapper {
  height: 40rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

h2 {
    font-size: 3rem;
}

span {
    font-size: 2rem;
}